{% load static %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
{% comment %} <script src="{% static 'js/popper.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
</script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
{% comment %} <script src="{% static 'js/aos.js' %}"></script> {% endcomment %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
{% comment %} <script>
    AOS.init();
</script> {% endcomment %}
<script src="{% static 'js/main.js' %}"></script>